/* reset css */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    font-family: monospace;
}
.main {
    margin: auto;
    width: 780px;
}
h2 {
    margin: 20px 0px;
    margin-left: 10px;
}
li {
    list-style-type: none;
}
li a {
    color: #fff;
    line-height: 24px;
    text-decoration: none;
}
.sidebar__content--list li:hover {
    opacity: 0.6;
}
li:hover img {
    opacity: 1;
     filter: grayscale(100%);
     -webkit-filter: grayscale(100%);
     -moz-filter: grayscale(100%);
     -ms-filter: grayscale(100%);
     -o-filter: grayscale(100%);
}
.index-top {
    padding: 2px 0px;
    background: rgb(235, 240, 243);
}
.mt-7{
    margin-top: -7.3px;
}
.header {
    z-index: 1;
    position: fixed;
    width: 780px;
}
.header__banner {
    height: 125px;
}
.content__banner img,
.header__banner img {
    float: left;
}
.header__nav {
    background: #1b3ae7;
    height: 24px;
}
.header__nav li {
    border-left: 1px solid rgb(76, 100, 238);
    padding: 0px 12px;
    float: left;
}
.header__nav li:hover {
    background: #0099ff;
}
.header__nav li:hover a {
    color:#ff0;
    text-decoration: underline;
}
.header__nav li:first-child {
    border-left: none;
}
.sidebar {
    display: inline-block;
    padding-left: 4px;
    background:  #9ad2ed;
    padding-top: 149px;
    height: 100vh;
    width: 141px;
    
}
.sidebar__section {
    position:fixed;
}
.sidebar__right {
    position: absolute;
    margin-left: 499px;
    padding-left: 6px;
}
.mt-24 {
    margin-top: 24px;
}
.sidebar__content--list li {
    width: 133px;
    text-align: center;
    font-size: 12px;
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #497cab;
    margin-bottom: 2px;
}
.sidebar__content--list li a {
    color: rgb(239, 241, 102);
    text-shadow: 2px 2px 2px rgb(245, 8, 8);
}
.content {
    padding: 149px 140px 0px;
    height: 110vh;
}
.content__banner {
    height: 113px;
}
.content__item--list > li {
    height: 131px;
    position: relative;
    margin-bottom: 20px;

}
.content__item--list img {
    float: left;
    margin-left: 10px;
    margin-right: 30px;
}
.content--detail {
    text-align: justify;
    margin-right: 10px;
}
.content--date  {
    position: absolute;
    bottom: 5px;
    left: 217px;
}