.content li {
    list-style-type: none;
}
.content label {
    display: inline-block;
    width: 180px;
}
.content input {
    line-height:20px;
    margin-bottom: 10px;
}
.ip-size-s {
    width: 100px;
}
.ip-size-m {
    width: 200px;
}
.ip-size-l {
    width: 300px;
}
.content textarea {
    min-width: 300px;
    max-width: 500px;
    max-height: 200px;
    size: 5;
}
.content .btn {
    margin-top: 40px;
    margin-left: 182px;
}
.btn input,
.btn button {
    margin-right: 30px;
    padding: 4px 12px;
}
